img#octopus {
  left:200px;
  position:relative;
  left:-120px;
  top:160px;
  z-index:2;
  
}

a.signup-button {
  font-size: 22px;
  background-color: navy;
  padding: 5px;
  font-style: bold;
  color: white;
  text-align: center;
}

.container {
  width: 710px;
  position: relative;
  top:-100px;
}

body {
  background: #33cccc;
}


header {
  padding-top: 100px;
}

/*header img {
  padding: 1em;
  background: #fff;
}*/

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  font-family:"Helvetica";
}

section h1 {
  font-size: 200%;
  vertical-align:top;
}

/* Links */

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #000;
}


/* Navigation */

nav.round {
  position:relative;
  top:210px;
  background:#fff;
  float:right;
  padding:5px;

}

nav {
  white-space: nowrap;
}

nav a {
  font-weight:bold;
}

nav a:hover {
  color: #000;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
  background:#33cccc;
}

/* Profile */

table.user {
  width: 100%
  margin-bottom: 0;
}

td.main {
  width: 80%;
}

td.side {
  background: #eee9e9;
  float: right;
  width: 20%;
  vertical-align: top;
}

td.profile {
  width: 80%;
  background: #fff;
}

/* Signup form */

div.field, div.actions {
   margin-bottom: 10px;
}

/* Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

.error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 10;
}

.error_explanation h2 {text-align
  text-align: left;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

.error_explanation ul li {  
  font-size: 12px;
  list-style: square;
}

div.flash.success {
  padding: 5px 5px 5px 5px;
  background-color: #f0f0f0;
  border: 2px solid #33cccc;
}




