%h1= @title
%p Here you can find FAQ about this site.

%p
  %b
    Q: Why is your site exclusively for sea creatures?

%p A: Because there are tons of other social networking sites already available. We wanted to try something unique here and realized that there was no service catering specifically to sea creatures.

%p
  %b
    Q: I didn't know sea creatures could use the internet.

%p A: Why can't they? Are you prejudiced or something?

%p
  %b
    Q: I'm semi-aquatic. Can I still sign up?

%p A: No.

%p
  %b
    Q: I was once fully aquatic but then I metamorphed. Now I live on land. Can I sign up?

%p: A: No.
