%h1= @title
%p Welcome to Octopi crossing, the only social networking site exclusively for salt water fish and aquatic animals. Join now to connect with all of your oceanic pals.

= link_to "Sign up now!", signup_path, :class => "signup-button round", :style => "font-color:white"

