<footer>
  <nav class="basic">
    <%= link_to "About", '#' %>     |
    <%= link_to "Contact", '#' %>     |
    <%= link_to "News", '#' %>
    <%= link_to "google", "http://www.google.ca" %>
  </nav>
</footer>
