<div class="container">

  <div class="octopus">
  <%= image_tag("octo.png", :alt => "Steph's app", :class => "round", :width => "250") %></div>

<nav class="round">
          
            <%= link_to "Home", '#' %>   |
            <%= link_to "Help", '#' %>   |
            <%= link_to "Sign in", '#' %>
          
        </nav>

