<div class="container">

 
  <%= image_tag("octo.png", :alt => "Steph's app", :class => "round", :id => "octopus", :width => "250") %>

<nav class="round">
          
            <%= link_to "Home", '#' %>   |
            <%= link_to "Help", '#' %>   |
            <%= link_to "Sign in", '#' %>
          
        </nav>



